<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /~yousuffqa/

RewriteRule ^$ index.php?a=main [L,QSA]
RewriteRule ^user/$ index.php?a=user [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?a=error [L]
</IfModule>
